# Ignore Gradle project-specific cache directory
.gradle
gradle.properties

# Ignore Gradle build output directory
build
logs
plugins
db

#properties
application-dev.properties

# Ignore other files
*.vsdx